{% extends 'projects/base.html' %}

{% block title %}Projects{% endblock %}

{% block table %}
    {% if projects %}
        <div>
            <table>
                <tr class="table-header-big">
                    <td rowspan="2" style="width: 1%;">№</td>
                    <td rowspan="2" style="min-width: 30%;">Проект</td>
                    <td colspan="2">Время</td>
                    <td colspan="3">Задачи</td>
                    <td colspan="3">Показатели</td>
                    <td colspan="2">Информация</td>
                </tr>
                <tr class="table-header-little">
                    <td>план</td>
                    <td>факт.</td>
                    <td>не утвер.</td>
                    <td>работ.</td>
                    <td>в плане</td>
                    <td>янд</td>
                    <td>гугл</td>
                    <td>ср.</td>
                    <td>дата</td>
                    <td></td>
                </tr>
                    {% for project in projects %}
                        <tr class="table-header-content">
                            <td>{{ forloop.counter }}</td>
                            <td>
                                <div class="project-title">
                                    <a href="#">{{ project.get_title }}</a>
                                </div>
                                <div class="project-info">
                                    Инфа о проекте
                                </div>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>{{ project.period_date|date:"d"}}</td>
                            <td></td>
                        </tr>
                    {% endfor %}
            </table>
        </div>
    {% else %}
        <h4>У пользователя {{ user }} нет проектов</h4>
    {% endif %}
{% endblock %}