{% extends 'projects/base.html' %}

{% block table %}
    {% if projects %}
        <div>
            <table>
                <tr class="table-header-big">
                    <td rowspan="2" style="width: 1%;">№</td>
                    <td rowspan="2" style="min-width: 23%;">Проект</td>
                    <td colspan="2">Время</td>
                    <td colspan="3">Задачи</td>
                    <td colspan="3">Показатели</td>
                    <td colspan="2">Информация</td>
                </tr>
                <tr class="table-header-little">
                    <td>план</td>
                    <td>факт.</td>
                    <td>не утвер.</td>
                    <td>работ.</td>
                    <td>в плане</td>
                    <td>янд</td>
                    <td>гугл</td>
                    <td>ср.</td>
                    <td>дата</td>
                    <td></td>
                </tr>
                    {% for project in projects %}
                        <tr class="table-header-content">
                            <td></td>
                            <td>{{ project.domain_names }}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>{{ project.period_date }}</td>
                            <td></td>
                        </tr>
                    {% endfor %}
            </table>
        </div>
    {% else %}
        <h4>У пользователя {{ user }} нет проектов</h4>
    {% endif %}
    <h5>{{ m }}</h5>
{% endblock %}